@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}

	body {
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
	}
}

/* @layer base {
	.x-container-fluid {
		@apply max-w-screen-xl mx-auto w-11/12;
	}
} */
