@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--tw-color-dark--theme: #1e2025;
	--tooltipBackground: #282048;
}

html.dark {
	--tooltipBackground: #282048;
}

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}

	body {
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
		@apply text-default dark:text-white;
	}

	.x-container {
		@apply 2xl:max-w-[1320px] xl:max-w-[1140px];
	}
}

@layer components {
	/* Colors custom */
	.bg-gray-lighter {
		@apply bg-[#F2F2F2] dark:bg-dark--theme-light;
	}

	/* --------------------- Container ------------------------------------ */
	.x-container {
		--tblr-gutter-x: 1.5rem;
		--tblr-gutter-y: 0;
		width: 100%;
		padding-right: calc(var(--tblr-gutter-x) * 0.5);
		padding-left: calc(var(--tblr-gutter-x) * 0.5);
		margin-right: auto;
		margin-left: auto;
	}

	/* ----------------Fade IN and Fade out */

	.fade-out {
		opacity: 0;
		width: 0;
		height: 0;
		transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
	}
	.fade-in {
		opacity: 1;
		width: 100%;
		height: 100%;
		transition: width 0.2s, height 0.2s, opacity 0.2s 0.2s;
	}

	/* ------------------- Input ----------------------- */
	.input-border {
		@apply border-[#00000021] dark:border-[#ffffff33] border-solid border;
	}

	/* Shadow */
	.nav-items--shadow {
		box-shadow: 0px 14px 24px -10px rgba(0, 0, 0, 0.04);
	}

	.main--card-border {
		@apply border dark:border-[#28292F];
	}

	/* Tooplip  */

	.tooltip-container,
	.tooltip-arrow {
		--tooltipBackground: #282048 !important;
		@apply !text-white;
	}

	.tooltip-container {
		@apply !border-none !px-2 !py-3;
	}

	.tooltip-arrow {
		@apply before:!border-none;
	}

	html.dark .tooltip-container,
	html.dark .tooltip-arrow {
		--tooltipBackground: #8c7ae4 !important;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* Details Aside Bar */

	.details-label {
		@apply not-italic font-medium text-[12px] leading-[140%] tracking-[-0.02em] text-[#A5A2B2];
	}
}

/* input */
.search-border {
	height: 33px;
}
.search-border .input-border {
	border-width: 0px !important;
	height: 40px;
}
.search-border .input-border input {
	height: 40px;
}
.search-border .input-border input::placeholder {
	color: #7e7991;
	font-size: 15px !important;
	/* font-weight: 500; */
	letter-spacing: 0.8px;
}

#file-upload input[type='file'] {
	display: none;
}

@font-face {
	font-family: 'Plus-Jakarta-Sans-VariableFont_wght';
	src: url('../public/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Plus-Jakarta-Sans-Regular';
	src: url('../public/assets/fonts/PlusJakartaSans-Regular.ttf');
}
@font-face {
	font-family: 'Plus-Jakarta-Sans-Bold';
	src: url('../public/assets/fonts/PlusJakartaSans-Bold.ttf');
}
@font-face {
	font-family: 'Plus-Jakarta-Sans-Light';
	src: url('../public/assets/fonts/PlusJakartaSans-Light.ttf');
}
@font-face {
	font-family: 'Plus-Jakarta-Sans-Medium';
	src: url('../public/assets/fonts/PlusJakartaSans-Medium.ttf');
}
@font-face {
	font-family: 'Plus-Jakarta-Sans-SemiBold';
	src: url('../public/assets/fonts/PlusJakartaSans-SemiBold.ttf');
}

.react-colorful {
	z-index: 100;
}
