@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--tw-color-dark--theme: #1e2025;
}

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}

	body {
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
		@apply text-default dark:text-white;
	}

	.x-container {
		@apply 2xl:max-w-[1320px] xl:max-w-[1140px];
	}
}

@layer components {
	/* --------------------- Container ------------------------------------ */
	.x-container {
		--tblr-gutter-x: 1.5rem;
		--tblr-gutter-y: 0;
		width: 100%;
		padding-right: calc(var(--tblr-gutter-x) * 0.5);
		padding-left: calc(var(--tblr-gutter-x) * 0.5);
		margin-right: auto;
		margin-left: auto;
	}

	/* ----------------Fade IN and Fade out */

	.fade-out {
		opacity: 0;
		width: 0;
		height: 0;
		transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
	}
	.fade-in {
		opacity: 1;
		width: 100%;
		height: 100%;
		transition: width 0.2s, height 0.2s, opacity 0.2s 0.2s;
	}

	/* ------------------- Input ----------------------- */
	.input-border {
		@apply border-[#00000021] dark:border-[#ffffff33] border-solid border;
	}

	/* Shadow */
	.nav-items--shadow {
		box-shadow: 0px 14px 24px -10px rgba(0, 0, 0, 0.04);
	}

	.main--card-border {
		@apply border dark:border-[#28292F];
	}
}
