.customTimePicker {
    position: relative;
    width: 100%;
}

.customTimePicker input[type="time"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 1.5rem;
    border: 1px solid #D7E1EB;
    border-radius: 0.375rem;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    outline: none;
    position: relative;
    z-index: 1;
}

.customTimePicker input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.customTimePicker .timePickerIcon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}
