@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#f5f5f5] dark:bg-dark_background_color;
}

.card__bg-color {
  @apply dark:bg-dark_card_background_color dark:bg-opacity-50;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.toggleThemeContainer {
  border-radius: 25px;
  border: 2px solid #6a7c90;
  width: max-content;
  height: 2.1rem;
  transform: scale(0.85);
}

.dark\:bg-dark_card_background_color {
  @apply dark:bg-opacity-30;
}

.toggleThemeContainer button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.navbar .toggleThemeContainer #moon {
  fill: #fff !important;
}

.navbar .toggleThemeContainer #moon {
  fill: #c2ced9 !important;
}

.light-mode .toggleThemeContainer button #sun-svg {
  background: #3d5a80 !important;
}
.light-mode .toggleThemeContainer button #sun {
  fill: #ffffff !important;
}
