name: Mobile Build Before Merge
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '.github/workflows/mobile.before-merge.yml'
      - 'apps/mobile/**'
      - 'package.json'
      - 'yarn.lock'

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: read

    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
            exit 1
          fi

      - uses: actions/checkout@v3

      - name: Skip workflow if PR is from develop to main
        if: github.event.pull_request.head.ref == 'develop' && github.event.pull_request.base.ref == 'main'
        run: |
          echo "PR is from develop to main. Skipping the workflow."
          echo "::set-output name=skipped::true"
        id: skip_check

      - name: Check if skipped
        if: steps.skip_check.outputs.skipped == 'true'
        run: echo "Workflow was skipped" && exit 0

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install Packages
        run: |
          yarn install --frozen-lockfile

      - name: Build Mobile
        run: |
          yarn build:mobile
