name: Mobile Build, Deploy and Publish Apps iOS
on:
  push:
    branches:
      - apps-stage
    paths:
      - '.github/workflows/mobile.apps.stage.yml'
      - 'apps/mobile/**'
      - 'package.json'
      - 'yarn.lock'

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment: prod

    permissions:
      contents: read

    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
            exit 1
          fi

      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.11.1'
          cache: 'yarn'

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Set Apple Store Credentials
        run: |
          echo "APPLE_ID=${{ secrets.APPLE_ID }}" >> $GITHUB_ENV
          echo "APPSTORE_ISSUER_ID=${{ secrets.APPSTORE_ISSUER_ID }}" >> $GITHUB_ENV
          echo "APPSTORE_API_KEY_ID=${{ secrets.APPSTORE_API_KEY_ID }}" >> $GITHUB_ENV

      - name: Replace Secrets in eas.json
        run: |
          sed -i 's/APPLE_ID_PLACEHOLDER/${{ secrets.APPLE_ID }}/' ./apps/mobile/eas.json
          sed -i 's/APPSTORE_ISSUER_ID_PLACEHOLDER/${{ secrets.APPSTORE_ISSUER_ID }}/' ./apps/mobile/eas.json
          sed -i 's/APPSTORE_API_KEY_ID_PLACEHOLDER/${{ secrets.APPSTORE_API_KEY_ID }}/' ./apps/mobile/eas.json

      - name: Create Apple API Key File
        run: |
          echo "${{ secrets.APPSTORE_API_PRIVATE_KEY }}" > ./apps/mobile/AuthKey_R9QZ5LP8NK.p8

      - name: Install Packages
        run: |
          yarn install --frozen-lockfile

      - name: Build Mobile
        run: |
          yarn build:mobile

      - name: Generate app.json and replace placeholders
        run: |
          cd apps/mobile && yarn config:mobile
        env:
          EXPO_PROJECT_SLUG: ${{ secrets.EXPO_PROJECT_SLUG }}
          EXPO_PROJECT_NAME: ${{ secrets.EXPO_PROJECT_NAME }}
          EXPO_PROJECT_OWNER: ${{ secrets.EXPO_PROJECT_OWNER }}
          EXPO_PROJECT_ID: ${{ secrets.EXPO_PROJECT_ID }}
          EXPO_PROJECT_PACKAGE_NAME: ${{ secrets.EXPO_PROJECT_PACKAGE_NAME || 'ever.teams' }}
          EXPO_PROJECT_IOS_BUNDLE_IDENTIFIER: ${{ secrets.EXPO_PROJECT_IOS_BUNDLE_IDENTIFIER || 'co.ever.teams' }}

      - name: Build on EAS
        run: cd apps/mobile && eas build --profile internal --platform ios --non-interactive

      - name: Publish update
        run: cd apps/mobile && eas update --auto --platform ios --non-interactive

      - name: Upload App build to App store
        run: cd apps/mobile && eas submit --profile internal --platform ios --latest --non-interactive
